<div class="container-fluid">
  <table class="table table-bordered table-striped">
    <thead class="bg-primary text-light">
      <td>Customer Id</td>
      <td>Order Id</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone No</td>
      <td>No. of Items</td>
      <td>Payment type</td>
      <td>Ordered Items</td>
    </thead>

    <tbody>
      <%= render @orders %>
    </tbody>
  </table>
</div>
