<div class="container p-5">
  <div class="card">
    <div class="card-header bg-primary text-light">
      <h2><%= @product.title.titleize %></h2>
    </div>

    <%= render 'product_form' %>

    <div class="card-footer mt-3 bg-primary">
      <%= render 'admin/shared/links', item: @product %>

    </div>
  </div>
</div>
