<% if item.errors.any? %>
  <div class="text-danger">
    <p>
      <%= item.errors.count %> errors prohibited this action on <%= item.class.model_name.human.downcase %>
    </p>
    <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
